<!DOCTYPE HTML>
<html>
<head>
	<script data-cfasync="false" type="text/javascript" src="//use.typekit.net/axj3cfp.js"></script>
	<script data-cfasync="false" type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="author" title="Ollivier Robert" href="https://www.keltia.net/people/roberto/" />
    <meta name="description" content="Ollivier Robert's blog" />
    <meta name="keywords" content="Ollivier Robert, Robert, Ollivier, Ollivier, Robert, keltia, keltounet, blog" />

    <!-- twitter card stuff cf. http://blog.penso.info/2015/03/21/improve-blog-visibility/ -->
    <meta property="twitter:title" content="{{ page.title }}" />
    <meta property="twitter:description" content="UNIX, chats, SF&F, photos, rants, crypto and other stuff." />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@Keltounet" />
    <meta property="twitter:creator" content="@Keltounet" />
    <meta property="twitter:image:src" content="http://assets.keltia.net/images/roberto-pp-2014.png" />

    <!-- facebook meta stuff -->
    <meta property="og:site_name" content="Ollivier Robert's blog" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://assets.keltia.net/images/roberto-pp-2014.png" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />

	<title>{% if page.title %}{{ page.title }} {% else %}{{site.subtitle}} {% endif %} | {{ site.title }}</title>

<meta name="author" content="{{ site.author }}">
{% capture description %}{% if page.description %}{{ page.description }}{% elsif site.description %}{{ site.description }}{%else%}{{ content | raw_content }}{% endif %}{% endcapture %}
<meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}"> {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{%else%}<meta name="keywords" content="{{ site.keywords }}">{% endif %}

    <!-- openid stuff -->
    <link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
    <link rel="openid2.local_id" href="https://openid.stackexchange.com/user/b43d5863-48cc-4125-8be1-e004d69c8233">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
	<link rel="canonical" href="{{ canonical }}">
	<link href="{{ root_url }}/favicon.png" rel="shortcut icon">
	<link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
	<link href="{{ root_url }}/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	{% include custom/fancybox_head.html %}
	{% include custom/head.html %}
</head>
